<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <title>VR</title>
</head>

<body>
    <div class="container">



        <div class="iframeContent">
            <iframe onload="iframLoad(this)" class="iframe" id="iframe" src="https://blog.deepdesigner.top/vr/pages/East%20Campus/2,%204%20and%2010%20dorms/" width="100%" height="100%" frameborder="0"></iframe>
        </div>

        <img id="loadingImg" class="loadingImg" style="opacity: 0;" src="../../img/animation_200_km0jncf6.gif" alt="">

        <!--  -->
        <div class="cardContent">
            <h3>东校</h3>
            <div class="opcity"></div>
            <div class="scrollWindow">
                <div class="card" data-id="0">
                    <a>
                        <img src="../../img/preview/2, 4 and 10 dorms.jpg" alt="">
                        <p>宿舍</p>
                    </a>
                </div>
                <div class="card" data-id="1">
                    <a>
                        <img src="../../img/preview/dorms.jpg" alt="">
                        <p>宿舍</p>
                    </a>
                </div>
                <div class="card" data-id="2">
                    <a>
                        <img src="../../img/preview/canteen.jpg" alt="">
                        <p>食堂</p>
                    </a>
                </div>
                <div class="card" data-id="3">
                    <a>
                        <img src="../../img/preview/Engineering.jpg" alt="">
                        <p>实训中心</p>
                    </a>
                </div>
                <div class="card" data-id="4">
                    <a>
                        <img src="../../img/preview/Library and Building No. 3.jpg" alt="">
                        <p>图书馆</p>
                    </a>
                </div>
                <div class="card" data-id="5">
                    <a>
                        <img src="../../img/preview/No. 1 Teaching Building.jpg" alt="">
                        <p>一教</p>
                    </a>
                </div>
                <div class="card" data-id="6">
                    <a>
                        <img src="../../img/preview/No. 2 Teaching Building.jpg" alt="">
                        <p>二教</p>
                    </a>
                </div>
                <div class="card" data-id="7">
                    <a>
                        <img src="../../img/preview/No. 4 Dormitory and Red Building.jpg" alt="">
                        <p>红楼</p>
                    </a>
                </div>
                <div class="card" data-id="8">
                    <a>
                        <img src="../../img/preview/playground.jpg" alt="">
                        <p>操场</p>
                    </a>
                </div>
                <div class="card" data-id="9">
                    <a>
                        <img src="../../img/preview/Teaching, library and community.jpg" alt="">
                        <p>小区</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="./js/index.js"></script>

</html>