<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <title>VR</title>
</head>

<body>
    <div class="container">



        <div class="iframeContent">
            <iframe onload="iframLoad(this)" class="iframe" id="iframe" src="https://blog.deepdesigner.top/vr/pages/West Campus/library/index.html" width="100%" height="100%" frameborder="0"></iframe>
        </div>

        <img id="loadingImg" class="loadingImg" style="opacity: 0;" src="../../img/animation_200_km0jncf6.gif" alt="">

        <!--  -->

        <div class="cardContent">
            <div class="opcity"></div>
            <div class="scrollWindow">
                <div class="card" data-id="0">
                    <a>
                        <img src="../../img/west_compressed.jpg" alt="">
                        <p>图书馆</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="./js/index.js"></script>

</html>